<div class="pitch">
    <ul>
        <li>Provide a web interface for submitting to over 100 Govt. Agencies</li>
        <li>Track the status of your Access to Information Requests</li>
        <li>Provide a backup of all the paperwork required</li>
        <li>Provide a list of public ATIP requests that have gone through our service so that you don't have to waste your time requesting the same information</li>
    </ul>
    <p>We do the tedious paperwork and write the cheques so that you don't have to.  We open the data, and act as a tool for transparency!</p>
</div>
<div class="start">
    <a href="/users/sign_up">SIGN UP NOW</a>
</div>
