<div class="left_menu">
  <ul>
    <li><a href="/requests/new">Create a new request</a></li>
    <li><a href="/requests/">Send requests to the government</a></li>
    <li>Search all replies</li>
  </ul>
</div>
<div id='event_list'>
</div>
