<h1>Order Summary</h1>

<div id="stage_one">
<table>
<tr>
<th>Agency</th><th>Text of the Request</th><th>Delete</th>
</tr>
</table>

<button>Submit Order</button>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
