<!DOCTYPE html>
<html>
<head>
  <title>ATIP Finder</title>
  <link href="/stylesheets/application.css" rel="stylesheet" /> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
        <div class="header">
            <ul class="menu">
              <li>Home</li>
              <li>New Request</li>
              <li>Request Status</li>
              <li>Logout</li>
            </ul>
        </div>
        <div class="content">
            <%= yield %>
        </div>
        <div class="footer">
            <%= yield :footer %>
            <span class="copyright">Copyright 2011</span>
        </div>
</body>
</html>
